{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container" id="newsletter-container">
    <div class="card bg-dark text-center text-light mt-4 p-4">
        <h1>Subscribe to Our Newsletter</h1>
        <p>Stay updated with our latest news and promotions. Fill out the form below to subscribe.</p>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form method="POST" class="newsletter-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-2">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% block footer %}
{% endblock %}

{% endblock %}