{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container" id="faq-container">
    <div class="card bg-dark text-light mt-4 p-4">
        <h1>Frequently Asked Questions</h1>
        <p>Find answers to common questions below.</p>
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled">
                    {% for faq in faqs %}
                    <li class="mb-4">
                        <h4 class="text-success">{{ faq.question }}</h4>
                        <p>{{ faq.answer }}</p>
                    </li>
                    {% empty %}
                    <p>No FAQs available at this moment. Please check back later or <a href="{% url 'contact' %}" class="text-success">contact us</a> for more information.</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}