{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
    {% endelement %}
{% endblock content %}

{% block footer %}
    <footer class="footer bg-dark text-light text-center py-1 mt-auto">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center mt-1 mb-1">
                        <li class="list-inline-item sm-icon mx-5">
                            <a href="https://www.twitter.com/" aria-label="Twitter">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x text-success"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item sm-icon mx-5">
                            <a href="https://www.facebook.com/profile.php?id=61565652278446" aria-label="Facebook">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x text-success"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item sm-icon mx-5">
                            <a href="https://www.youtube.com/" aria-label="Youtube">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-youtube fa-stack-1x text-success"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
