{% extends 'base.html' %}
{% block content %}
{% load static %}
{% url 'contact' as contact_url %}

<!-- Render contact form below -->
<div class="container" id="contact-container">
    <div class="card bg-dark text-center text-light mt-4 p-5 shadow-lg">
        <h1 class="display-4">Contact Us Here</h1>
        <p class="lead">We'd love to hear from you! Fill out the form below to get in touch.</p>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100 mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}