{% extends 'base.html' %}
{% block content %}
{% load static %}
{% url 'contact' as contact_url %}

<!-- Render contact form below -->
<div class="container" id="contact-container">
    <div class="card bg-dark text-light mt-4 p-4">
        <h1>Contact Us Here</h1>
        <p>Fill out the form below to get in touch. </p>
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-70 mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}